## Generated hosts
hosts/production

### Ansible ###
*.retry
ansible/hosts/production

# End of https://www.gitignore.io/api/ansible
### Code ###
# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/
tsconfig.json
jsconfig.json


# End of https://www.gitignore.io/api/code
